<div class="top-spacing-twice horizontal-spacing-twice">
    <h2 translate content="classAdmin.passwordRequest.tempPassword.title"></h2>
    <div class="row">
        <p translate content="classAdmin.passwordRequest.readToChild"></p>
        <div class="row centered-text top-spacing-twice bottom-spacing-twice">
            <span translate content="classAdmin.passwordRequest.tempPassword.label"></span>
            <strong style="font-size: 2em; letter-spacing: 0.1em;">[[tempPasswordResult.password]]</strong>
        </div>
        <p class="info">
            <i18n>classAdmin.passwordRequest.tempPassword.login</i18n> <strong>[[tempPasswordResult.login]]</strong>
        </p>
        <hr />
    </div>
    <div class="lightbox-buttons fluid">
        <button class="right-magnet" ng-click="template.close('lightbox')"><i18n>classAdmin.passwordRequest.tempPassword.done</i18n></button>
    </div>
</div>
